@import "src/styles/sass/media";
@import "src/styles/sass/variables";
.Container {
  padding: 16px 0 16px 40px;
  color: white;
  font-size: 13px;
  transition: 0.2s;
  text-decoration: none;
  display: flex;
  align-items: center;
  @include media("<=smartphone") {
    padding: 1.2rem 3rem;
  }
  position: relative;

  .ImageWrapper {
    margin-right: 13px;
    width: 15px;
    height: 15px;
    > div {
      background-color: initial !important;
      width: 100%;
      height: 100%;
    }
  }

  .ImageWrapper,
  .Label {
    opacity: 0.4;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.11);
    .ImageWrapper,
    .Label {
      opacity: 1;
    }
  }
}

.Count {
  background: $mainYellow;
  padding: 3px 13px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 15px;
}
.Active {
  background-color: rgba(255, 255, 255, 0.11);
  .ImageWrapper,
  .Label {
    opacity: 1;
  }
}
