@import "src/styles/sass/variables";

.Button {
  text-transform: initial;
  padding: 0.5rem 1.3rem;
  font-size: 1.4rem;
}

.ButtonTetr {
  color: #bdbdbd;
  &:hover {
    color: $mainYellow;
    background: none;
  }
}
