@import "src/styles/sass/variables";

.ForgotImgWrap {
  margin: 0 auto 2.2rem auto;
}

.ForgotSuccessWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ForgotSuccessText {
  color: $mainBlack;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  span {
    margin-top: 0.2rem;
  }
}

.ForgotSuccessImgWrap {
  margin-left: 3rem;
  width: 40%;
}
.ForgotImg {
  width: 100%;
}
