@import "src/styles/sass/variables";
@import "src/styles/sass/media";
.IconButton {
  background-color: $gray200;

  border-radius: 1rem;
  padding: 0.7rem;
  position: relative;
}

.MoreHrBtn {
  margin-top: 15px;
}

.MoreHrText {
  color: $mainYellow;
}
