@import "src/styles/sass/variables";

@import "src/styles/sass/media";
.CaseAgeSection {
  @include media("<tablet") {
    flex-direction: column;
  }
  .AgeCard {
    flex-basis: 350px;
    padding: 30px;
    @include media("<tablet") {
      flex-basis: 100%;
      padding: 20px;
    }
  }
  .CaseByDistrictCard {
    flex-grow: 1;
    min-width: 0;
    .Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      @include media("<tablet") {
        flex-direction: column;
        align-items: flex-start;
        .SelectWrapper {
          margin-top: 10px;
        }
      }
    }
    display: flex;
    flex-direction: column;
    .Chart {
      display: flex;
      flex: 1;
    }
    @include media("<tablet") {
      flex-basis: 100%;
      height: 300px;
    }
  }
}
