@import "src/styles/sass/variables";
@import "src/styles/sass/media";

.Wrap {
  padding: 20px 10px 0px 10px;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  margin-top: auto;
  @include media("<smartphone") {
    flex-direction: column;
    button {
      margin: 20px 0;
    }
  }
}

.Annotation {
  color: $gray400;
  font-family: "Sf_Ui_Light";
}
