@import "src/styles/sass/variables";
@import "src/styles/sass/media";
.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 300px;
  padding: 30px;
}

.ConfirmText {
  font-family: $medium;
  font-size: 18px;
  margin-top: auto;
}

.AmountText {
  font-size: 16px;
  margin-top: 10px;
}
.ButtonsWrapper {
  margin-top: auto;
  margin-bottom: 30px;
}
