@import "styles/sass/main.scss";

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;

  transition: opacity 400ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;

  transition: opacity 400ms;
}

html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
  @include main-scroll();
}
body {
  font-size: 1.6rem;
  margin: 0;
  font-family: $regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-shrink: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
